* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Allan', sans-serif;
}

body {
    background-color: #FFFAD1;
    font-size: 22px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Allan', sans-serif;
}

#home{
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    min-height: 120px;
    text-align: center;
}

.cb1{
    background-color: #FFABF7;
    padding: 30px;
    margin-bottom: 30px;
    border-bottom: 2px dashed;
    border-color:#d492ce;    
}

.cb2{
    padding: 10px;
    margin-bottom: 30px;    
}

main{
    max-width: 1000px;
    padding: 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.encoder{
    display: flex;
}

div.bmo{
    width: 581px;
    height: 590px;
    background: #4adbd8;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.15rem rgb(172, 175, 133));
    border: 1px solid #41c4c1;
}

form{
    border-radius: 8px;
    padding: 30px;   

}

form textarea{
    min-width: 520px;
    min-height: 320px;
    border: 0;
    background: url("../assets/facebmo.jpg") no-repeat;
    background-color: #DEFFEF;
    background-position: 11vw;
    background-size: 170px 100px;
    padding:15px;
    color: #56738d;
}

.BgControl{
    background: url("../assets/controls.png") no-repeat;
    background-position: center;
    width: 580px;
    height: 180px;
    margin-left: -30px;
}

.slct{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

select.deslocamento{
    width: 205px;
    height: 35px;
    background-color: #c8e5ff;
    border: 1px #36A0C9;
    justify-content: center;
    display: inline;
    font-weight: bold;
    color: #56738d;
}

.btns{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

button.Encrypt{
    width: 100px;
    height: 35px;
    background-color: #c8e5ff;
    border: 1px #36A0C9;
    justify-content: center;
    display: inline;
    font-weight: bold;
    color: #56738d;
}

button.Decrypt{
    width: 100px;
    height: 35px;
    background-color: #c8e5ff;
    border: 1px #36A0C9;
    justify-content: center;
    display: inline;
    margin-left: 3px;
    font-weight: bold;
    color: #56738d;
}

.resposta{
	position: relative;
    max-width: 430px;
    padding-left: 20px;
}

.balao{
    background: #fff;
	border-radius: 15px;
	width: 400px;
	height: 250px;
    padding: 15px;
	position: relative;
    filter: drop-shadow(0 0 0.35rem rgb(180, 184, 138));

}

.balao:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 50px solid transparent;
    border-top: 70px solid #fff;
    bottom: 25px;
    left: -30px;
}

p.resultado{
    font-family: 'Consolas';
    font-size: 14px;
    color: #56738d;
}
.carregando{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #56738d;
}

.respiro{
    width: 100%;
    margin: 0 auto;
    min-height: 100px;
}

footer{
    font-family: 'Calibri';
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: 12px;
    font-style: oblique;
    background: #FFABF7;
    text-transform: none;
    text-decoration: none;
    border-top: 2px dashed;
    border-color:#d492ce;  
}
.heart:before{
    content: '❤';
    font-size: 9px;
}